[submodule "scad-utils"]
	path = scad-utils
	url = https://github.com/openscad/scad-utils.git
[submodule "Write.scad"]
	path = Write
	url = https://github.com/rohieb/Write.scad.git
[submodule "gridfinity-rebuilt-openscad"]
	path = gridfinity-rebuilt-openscad
	url = https://github.com/kennetek/gridfinity-rebuilt-openscad.git
[submodule "MCAD"]
	path = MCAD
	url = https://github.com/openscad/MCAD.git
